@tailwind base;@tailwind components;@tailwind utilities;.scanline{background-image:repeating-linear-gradient(rgba(255,255,255,.04) 0px,rgba(255,255,255,.04) 1px,transparent 1px,transparent 2px);background-size:100% 2px}
